.calc-container {
  width: 50%;
  height: 50vh;
  margin: 10% auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.calc-display {
  grid-column: 1 /span 4;
  border: solid 2px #c0c0c0;
  padding: 3% 5%;
  text-align: right;
  background: #bababa;
  font-size: 1.4em;
}

.buttons {
  background: #e0e0e0;
  border: solid 2px #c0c0c0;
  font-size: 1.4em;
}

.buttons:hover {
  cursor: pointer;
}

.buttons:nth-child(5),
.buttons:nth-child(9),
.buttons:nth-child(13),
.buttons:nth-child(17),
.buttons:nth-child(20) {
  background: #f5913e;
}

.buttons:nth-child(18) {
  grid-column: 1/ span 2;
}
